
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  
  background-color: #292929; 
  color: #fff;
  
  display: flex;
  align-items: center;
  padding: 10px; 
  opacity: 0.95;
}

.custom-placeholder {
  background: rgba(255, 255, 255, 0.05);
  border: 1px dashed #555;
  min-height: 50px; 
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}